
<div class="body">
 <div class="container">
   <div class="row">
     <div class="col-xs-3">
      <h2>User info</h2>
      <table class="table">
        <thead>
          <tr>
            <td><%= attachment_image_tag @book.user, :profile_image, fallback:"no_image.jpg" ,size:"100x100" %></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>name</td>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <td>introduction</td>
            <td><%= @user.introduction %></td>
          </tr>
        </tbody>
      </table>


<div class="row">
</div>
<a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench " href="/users/edit"></a>
<h2>New book</h2>
  <% if @book.errors.any? %>
    <%= @book.errors.count %>errors
    <% @book.errors.full_messages.each do |message| %>
    <%= message %>
    <% end %>
  <% end %>
<!-- form_with部分 -->
 <%= form_with model: @book, local:true do |f| %>
  <h4>title</h4>
    <%= f.text_field :title , class:"col-xs-12 book_title" %>
  <h4>opinion</h4>
    <%= f.text_area :body , class:"col-xs-12 book_body" %>
<div class="actions row">
 <div class="text-center">
    <%= f.submit 'Create Book', class: 'btn btn-primary col-xs-12' %>
 </div>
</div>

<% end %>


  <div class="actions row">
    <!--<input type="submit" name="commit" value="Create Book" class="btn btn-primary col-xs-12" data-disable-with="Create Book">-->
  </div>
</form>
  </div>


  <div class="col-xs-9">
		<h2>Users</h2>
		<table class="table">
		  <tbody><tr>
        <td><a href="/users/25909">
   <thead>
     <tr>
      <th>image</th>
      <th>name</th>
      <th> </th>
     </tr>
   </thead>
   <tbody>
<% @users.each do |user| %>
   <tr>
     <td><%= attachment_image_tag user, :profile_image, fallback:"no_image.jpg" ,size:"50x50" %></td>
     <td><%= user.name %></td>
     <td><%= link_to "show", user_path(user.id) %></td>
   </tr>
<% end %>
   </tbody>

    <!--      <td><a class="btn-sm btn-success edit_book_40466" href="/books/40466/edit">Edit</a></td>-->
    <!--      <td><a data-confirm="本当に消しますか？" class="btn-sm btn-danger destroy_book_40466" rel="nofollow" data-method="delete" href="/books/40466">Destroy</a></td>-->
    <!--  </tr>-->
    <!--</tbody></table>-->

  </div>
</div>
</div>
</div>