<div class="body">
      <div class="container">

        <p id="notice"></p>
          <p>You have creatad book successfully.</p>
      	<div class="row">
  <div class="col-xs-3">
    <h2>User info</h2>
    <img class="attachment user profile_image fallback" src="/assets/no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6.jpg" alt="No image"><table class="table">
      <tbody><tr></tr>
      <tr>
    	  <div>name  <%= current_user.name %></div>
      </tr>
      <tr>
    	  <th>introduction</th>
    	  <th></th>
      </tr>
</tbody></table>

<div class="row">
  <a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_25909" href="/users/25909/edit"></a>
</div>
  <!--  <h2>New book</h2>-->
  <!--  <form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="ONguozeAm/Yxf4/CBKjGiCdo9Y+hsU+mFVurTgfA3Mf95+UVV2DSNNAKQMnGc3XsOM9yHEgmbvESb0kDerWCkg==">-->
  <!--<div class="field row">-->
  <!--  <label for="book_title">Title</label>-->
  <!--  <input class="col-xs-12 book_title" type="text" name="book[title]" id="book_title">-->
  <!--</div>-->

  <!--<div class="field row">-->
  <!--  <label for="book_opinion">Opinion</label>-->
  <!--  <textarea class="col-xs-12 book_body" name="book[body]" id="book_body"></textarea>-->
  <!--</div>-->


<h1>New Book</h1>

<% if @book.errors.any? %>
<!--@bookの中にエラーある？-->
  <%= @book.errors.count %>errors
  <% @book.errors.full_messages.each do |message| %>
<!--エラーに対する表示は決まっている-->
  <%= message %>
  <% end %>
<% end %>

<!-- form_with部分 -->
<%= form_with model: @book, url:'/books',local:true do |f| %>
  <h4>title</h4>
  <%= f.text_field :title %>
  <h4>body</h4>
  <%= f.text_area :opinion %>
  <%= f.submit 'Create Book' %>

<% end %>

  <div class="actions row">
    <input type="submit" name="commit" value="Create Book" class="btn btn-primary col-xs-12" data-disable-with="Create Book">
  </div>
</form>
  </div>


  <div class="col-xs-9">
		<h2>Book detail</h2>
		<table class="table">
		  <tbody><tr>
        <td><a href="/users/25909">
          <img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11cb2bb284b42e0810f94b03c50126f51f482ea43054b87c2b7ebaa01d5.jpg" alt="No image icon"><br>


<% @books.each do |book| %>
   <tr>
     <td><%= book.title %></td>
     <td><%= book.opinion %></td>
     <td><%= link_to "show", book_path(book.id) %></td>
     <td><%= link_to "edit", edit_book_path(book.id) %></td>
     <td><%= link_to "destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?？" %></td>

<% end %>

          <td><a class="btn-sm btn-success edit_book_40466" href="/books/40466/edit">Edit</a></td>
          <td><a data-confirm="本当に消しますか？" class="btn-sm btn-danger destroy_book_40466" rel="nofollow" data-method="delete" href="/books/40466">Destroy</a></td>
      </tr>
    </tbody></table>

  </div>
</div>
</div>
</div>