<!html>
<div class="body">
 <div class="container">
   <div class="row">
     <div class="col-xs-3">
      <h2>User info</h2>
      <img class="attachment user profile_image fallback" src="/assets/no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6.jpg" alt="No image">
      <table class="table">
      <thead>
        <tr> </tr>
      </thead>
      <tbody>
        <tr>
          <td>name</td>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <td>introduction</td>
          <td><%= @user.introduction %></td>
    	  </tr>
    	</tbody>
    </table>


<div class="row">
</div>
<a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench " href="/users/edit"></a>

<h2>New book</h2>

<% if @book.errors.any? %>
  <%= @book.errors.count %>errors
  <% @book.errors.full_messages.each do |message| %>
  <%= message %>
  <% end %>
<% end %>

<!-- form_with部分 -->
<%= form_with model: @book, local:true do |f| %>
  <h4>title</h4>
  <%= f.text_field :title %>
  <h4>opinion</h4>
  <%= f.text_area :body %>
<div class="actions row">
<!--<input type="submit" name="commit" value="Create Book" class="btn btn-primary col-xs-12" data-disable-with="Create Book">-->
<div class="text-center">
 <%= f.submit 'Create Book', class: 'btn btn-primary col-xs-12' %>
</div>
</div>

<% end %>

  <div class="actions row">
    <!--<input type="submit" name="commit" value="Create Book" class="btn btn-primary col-xs-12" data-disable-with="Create Book">-->
  </div>
</form>
  </div>


  <div class="col-xs-9">
		<h2>Books</h2>
		<table class="table">
		  <tbody><tr>
        <td><a href="/users/25909">
   <thead>
     <tr>
      <th>    </th>
      <th>Title</th>
      <th>Opinion</th>
     </tr>
   </thead>
   <tbody>


<% @books.each do |book| %>
   <tr>
     <td><%= attachment_image_tag book.user, :profile_image, fallback:"no_image.jpg" ,size:"50x50" %></td>
     <td><%= link_to book_path(book) do %>
　　　   <%= book.title %>
　　　   <% end %></td>
     <td><%= book.body %></td>
   </tr>
<% end %>

   </tbody>
   </div>